{% extends "moyemoye.html" %} {% block content %}

<div class=""></div>

<div class="relative top-14 left-2">
  <div class="relative bg-[#F1EBDD] rounded-t-[12px] border-4 border-black p-2">
    <div class="relative group p-2">
      <img class="hover:hidden" src="/static/mysite/circle.png" />
      <img
        class="hidden group-hover:flex"
        src="/static/mysite/close_hover.png"
      />
    </div>
    <div class="relative group p-2">
      <img class="hover:hidden" src="/static/mysite/circle.png" />
      <img
        class="hidden group-hover:flex"
        src="/static/mysite/floating_hover.png"
      />
    </div>
  </div>
  <div class="flex rounded-b-[14px] border-4 border-black">
    <div class="container">
      <img class="" src="/static/mysite/bg.png" />
    </div>
  </div>
</div>

{% endblock content %}
